:root {
    --primary-color: #000;
    --secondary-color: #5299c3;
    --accent1-color: #ffffff;
    --accent2-color: #f77c73;
    --accent3-color: #d3d3d3;

    /* #b8564f */

    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;
}

body {
    min-width: 370px;
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--accent1-color);
}

header, h1 {
    background-color: var(--secondary-color);
    padding: .5em;
    margin: 0 .5em;
}

#menu {
    font-size: 1.5rem;
    padding: .1em .2em;
    position: absolute;
    right: 1em;
    top: 5em;
    background-color: var(--accent2-color);
    color: var(--primary-color);
    border-radius: 5px;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✕";
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}

.navigation .open {
    display: block;
}

.navigation {
    background-color: var(--accent2-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 2em;
}

.navigation a {
    display: none;
    font-weight: 600;
    color: var(--primary-color);
    padding: .4em;
    margin: .4em;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    font-weight: 800;
    border-radius: 3px;
}

.navigation a.active {
    color: #e9fa68;
    text-decoration: underline 2px;
}

.open a {
	display: block;
}

h2 {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

.hero-image {
    display: grid;
    margin: 0;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}
.hero-image img {
    max-width: 100%;
    grid-column: 1/4;
    grid-row: 1/4;
}

.hero-image a {
    color: var(--primary-color);
    background-color: var(--accent3-color);
    font-weight: 800;
    font-size: x-large;
    border-radius: 1em;
    border: 3px solid var(--accent1-color);
    padding: .7em;
    margin: 0;
    text-decoration: none;
    grid-column: 2/3;
    grid-row: 2/3;
    text-shadow: 1px 2px 1px var(--accent1-color);
}

h3 {
    background-color: var(--accent2-color);
    padding: .5em;
    margin: .5em 0;
}
p, ul {
    font-family: var(--paragraph-font);
    background-color: var(--accent3-color);
    margin: .5em;
    padding: .5em;
    border-radius: .2em;
}

.card ul {
    list-style-type: none;
    grid-column: 1/2;
    grid-row: 2/3;
}

.card {
    display: grid;
    background-color: #d3d3d3;
    border: 2px solid var(--primary-color);
    border-radius: .5em;
    margin: 1em 2em ;
    box-shadow: 0 .5em 1em .2em black;
}

.card img {
    max-width: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
}

footer {
    font-weight: 400;
    text-align: center;
    padding: .5em;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

