:root {
    --primary-color: #000;
    --secondary-color: #5299c3;
    --accent1-color: #ffffff;
    --accent2-color: #f77c73;
    --accent3-color: #d3d3d3;

    /* #b8564f */

    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;
}

body {
    min-width: 370px;
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--accent1-color);
}

header, h1 {
    background-color: var(--secondary-color);
    padding: .5em;
    margin: auto;
}

header {
    padding: 0;
}

#menu {
    font-size: 1.5rem;
    padding: .1em .2em;
    background-color: var(--accent2-color);
    color: var(--primary-color);
    width: 100%
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "△";
}

#mode {
    position: relative;
    text-align: end;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}

.navigation .open {
    display: block;
}

.navigation {
    background-color: var(--accent2-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 1em;
    box-shadow: 0 .5em .5em grey;
}

.navigation a {
    display: none;
    font-weight: 600;
    color: var(--primary-color);
    padding: .4em;
    margin: .4em;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    font-weight: 800;
    border-radius: 3px;
}

.navigation a.active {
    color: #e9fa68;
    text-decoration: underline 2px;
}

.open a {
	display: block;
}

/* ---------- MAIN ---------- */

h2 {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

.hero-image {
    display: grid;
    margin: 0;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}
.hero-image picture, img {
    max-width: 100%;
    grid-column: 1/4;
    grid-row: 1/4;
}

.hero-image a {
    color: var(--primary-color);
    background-color: var(--accent3-color);
    font-weight: 800;
    font-size: x-large;
    border-radius: 1em;
    border: 3px solid var(--accent1-color);
    padding: .7em;
    margin: 1em;
    text-decoration: none;
    grid-column: 2/3;
    grid-row: 3/4;
    text-shadow: 1px 2px 1px var(--accent1-color);
}

h3 {
    background-color: var(--accent2-color);
    padding: .5em;
    margin: .5em 0;
}
p, ul {
    font-family: var(--paragraph-font);
    background-color: var(--accent3-color);
    margin: .5em;
    padding: .5em;
    border-radius: .2em;
}

.card ul {
    list-style-type: none;
    grid-column: 1/2;
    grid-row: 2/3;
}

.card {
    
    background-color: var(--accent3-color);
    border: 2px solid var(--primary-color);
    border-radius: .5em;
    margin: 1em 2em ;
    box-shadow: 0 .5em 1em .2em black;
}

.card img {
    width: 100%;
    height: auto;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: .5em 0;
}

.calendar iframe{
    width: 100%;
    max-height: 320px;
    margin-bottom: .3em;
}

figcaption {
    text-align: center;
}

/* ---------- FOOTER ---------- */

footer {
    font-weight: 400;
    text-align: center;
    padding: .5em;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

/* ---------- FORM STYLING ---------- */

.mainform {
    margin: 0;
}

.wf1 fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    background-color: #eee;
    border-radius: 6px;
    padding: .5rem 2%;
}

.wf1 legend {
    color: #445ba9;
    font-size: 1.2rem;
    padding: 0 .5rem;
}

.wf1 label {
    display: block;
    padding-top: 1rem;
    color: #445282;
    font-size: .9rem;
}

.wf1 div {
    padding-top: 1rem;
    color: #445ba9;
    font-size: .9rem;
}

.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 input[type="password"],
.wf1 textarea
{

    display: block;
    border: 1px solid #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 80%;
    max-width: 400px;
    appearance: none;
}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"] {
    margin-right: 6px;
}

.wf1 input[type="submit"] {
    border: none;
    background-image: linear-gradient(#c5533a, #8d493a);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}
.wf1 input[type="submit"]:hover {
    text-shadow: 1px 1px 3px #ddd;
}

.wf1 input[type="submit"]:active {
    background-image: linear-gradient(#8d493a, #c5533a);
    box-shadow: none;
}

.wf1 input:required {
    border-left: solid 8px red;
}

.wf1 input:required:valid {
    border-left: solid 8px green;
}

.record {
    margin-bottom: 100%;
}


/* ---------- DIRECTORY STYLING ---------- */

.maindirectory {
    margin: auto;
}

.maindirectory h2 {
    text-align: center;
    padding: 1em;
    color: var(--primary-color);
    background-color: var(--accent2-color);
    box-shadow: 1px 2px .3em 1px;
    margin: 1em;
}

#cards {
    max-width: 900px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
    padding: 1em;
}

#cards section {
    background-color: var(--accent3-color);
    max-width: 400px;
    text-align: center;
    box-shadow: 0 2px .5em ;
    border-radius: 6px;
    margin-bottom: 1em;
    margin: 0 auto;
}

#cards img {
    margin: auto;
    justify-self: auto;
}

#cards div {
    padding: .5em;
}

#cards.list h2 {
    text-align: center;
    padding: 1em;
    color: var(--primary-color);
    background-color: var(--accent2-color);
    box-shadow: 1px 2px .3em 1px;
    width: 400px;
    margin: 1em auto 0;
}

#cards.list h3 {
    text-align: left;
    color: var(--primary-color);
    background-color: inherit;
    box-shadow: none;
    border-right: 2px solid #555;
}

#cards.list {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: .5em;
    gap: 0;
    
}

#cards.list section {
    background-color: var(--accent3-color);
    max-width: 1000px;
    display: grid;
	grid-template-columns: .3fr 1fr ;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
}

#cards.list img {
    display: none;
}

#cards.list div {
    padding: .5em;
    margin: 0 auto 0 0;
}

#cards.list section:nth-child(even) {
    background-color: var(--accent1-color);
}

#weather-icon, #display-forecast img {
    width: 3rem;
    margin-bottom: -.6em;
    margin-left: -.3em;
    margin-right: .3em;
}

#display-forecast figure{
    padding: 0;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid black;
    
}

#display-forecast h4 {
    text-align: center;
}