@media screen and (min-width: 800px) {

    body {
        max-width: 1160px;
        margin: auto;
    }

    main {
        display: flex;
        display: grid;
        grid-template-columns: 70% auto;
        grid-template-rows: auto 1fr;
        gap: 1em;
        margin: 1em;
    }

    .discover {
        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-rows: 1fr;
    }

    .hero-image img {
        margin: auto;
        padding: 1em;
    }

    .card {
        /* display: block; */
        margin: 1em 0;
    } 

    .discover-images {
        grid-column: 2/3;
    }

    .content {
        display: flex;
        flex-direction: column;
        grid-column: 1/2;
    }

    .hide {
        display: none;
    }
}