@media screen and (min-width: 520px) {

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .navigation a {
        display: block;
        margin: .5em 1em;
    }

    .discover-images img:hover {
        opacity: .5;
    }
    
    .mainform {
        
        grid-template-columns: 1fr .75fr auto;
    }

    .maindirectory {
        margin: auto;
        display: block;
    }

    .hide {
        display: none;
    }

    #contributors h3 {
        grid-row: 1;
        grid-column: 1/4;
        text-align: center;    
    }
}