/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap'); */

* {
    font-family: roboto;
}

main {
    display: grid;
    grid-template: auto/ auto;
    /* text-align: center; */
    gap: 1em;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:antiquewhite;
}

.hero {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.hero picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
    grid-column: 1/4;
    grid-row: 1/4;
}

.herolabel {
	grid-column: 2/3;
    grid-row: 2/3;
	background: radial-gradient(#fff, #36558f);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1.5rem;
	font-family: 'Times New Roman', Times, serif;
}

#menu {
    font-size: 1.5rem;
    padding: .1em .2em;
    position: fixed;
    right: .5em;
    top: .5em;
    background-color: #36558f;
    color: #fff;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✕";
}

nav .open {
    display: block;
}

.navigation {
    display: flex;
    flex-direction: column;
    background-color: #36558f;
    width: 100%;
    text-align: center;
}

.navigation a {
    display: none;
    font-weight: 500;
    color: white;
    padding: .4em;
    margin: .4em;
    text-decoration: none;
}

.navigation a.active {
    color: #ffca38 ;
    text-decoration: underline 2px;
}

nav a:hover {
    background-color: white;
    color: #36558f;
    font-weight: 800;
    border-radius: 3px;
    
}

.open a {
	display: block;
}

h1 {
    padding: 50px;
}

header img {
    width: 150px;
    border-radius: 5%;
    border: 2px  black;
    box-shadow: 1px 1px 15px 1px ;
}

h2 {
    margin: auto;
    padding: 1em;
    border-bottom: 2px solid rgb(186, 186, 186);
    width: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

.card {
    margin: 1em;
    justify-content: center;
    border: 2px solid rgb(186, 186, 186);
    border-radius: .5em;
    box-shadow: 5px 5px 10px 1px gray;
}

.card h3 {
    color: #fff;
    font-weight: 400;
    background-color: #36558f;
    margin: 0;
    padding: .5em;
    width: auto;
    border-radius: .3em .3em 0 0;
}

.card ul {
    padding: 1em;
}

.map {
    width: 95%;
    height: 400px;
    margin: auto;
}

footer {
    text-align: center;
    padding: .5em;
    color: #fff;
    background-color: #36558f;
}

footer img {
    width: 12px;
}

footer #lastModified {
    color: #ffca38;
}

#weather-icon {
    width: 2rem;
    margin-bottom: -.6em;
    margin-left: -.3em;
    margin-right: .3em;
}