/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap'); */

* {
    font-family: roboto;
}

main {
    display: grid;
    grid-template: auto auto/ auto;
    text-align: center;
    gap: 1em;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    grid-column: 1/2;
    grid-row: 1;
    align-items: center;
    justify-content: center;
    background-color:antiquewhite;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: #36558f;
    width: 100%;
    text-align: center;
}

nav a {
    font-weight: 500;
    color: white;
    padding: .5em;
    margin: .5em;
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    color: #36558f;
    font-weight: 800;
    border-radius: 3px;
    
}

h1 {
    padding: 50px;
}

header img {
    border-radius: 5%;
    border: 2px  black;
    box-shadow: 1px 1px 15px 1px ;
}

h2 {
    margin: auto;
    padding: 1em;
    border-bottom: 2px solid rgb(186, 186, 186);
    width: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

.card {
    margin: 1em;
    justify-content: center;
    border: 2px solid rgb(186, 186, 186);
    border-radius: .5em;
    box-shadow: 5px 5px 10px 1px gray;
}

.card h3 {
    color: #fff;
    font-weight: 400;
    background-color: #36558f;
    margin: 0;
    padding: .5em;
    width: auto;
    border-radius: .3em .3em 0 0;
}

.card ul {
    padding: 1em;
}

footer {
    text-align: center;
    padding: .5em;
    color: #fff;
    background-color: #36558f;
}

footer #lastModified {
    color: #ffca38;
}